<div class="full-vh"> 
  <h3>What does she do?</h3>
    <p id="what-images">
      <%= image_tag('what-spurs.png') %>
      <%= image_tag('what-hashtagviral.png') %>
      <%= image_tag('what-rdh.png') %>
      <%= image_tag('what-tjtroy.png') %>
      <%= image_tag('what-tjvo.png') %>
    </p>
</div>